/* Class used for specificity */
.center-item {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}

a {
  color: inherit;
  display: inline;
}

/* needs at least this specificity */
.wrap-text[matLine] {
  overflow: visible;
  white-space: normal;
}
