<div class="visitor-center-list">
  <mat-list role="list">
    <mat-list-item role="listitem" class="center-item"
      *ngFor="let center of centers">
      <a [routerLink]="['/visitor-center', center.parkCode, center.id]" matLine
        class="wrap-text">
        {{center.name}}
      </a>
      <span matLine class="wrap-text">{{center.addresses.physical.line1}}</span>
      <span matLine class="wrap-text">{{center.addresses.physical.line2}}</span>
      <span matLine class="wrap-text">
        {{center.addresses.physical.line3}}
        <span *ngIf="center.addresses.physical.line3">,</span>
        {{center.addresses.physical.city}},
        {{center.addresses.physical.stateCode}},
        {{center.addresses.physical.postalCode}}
      </span>
    </mat-list-item>
  </mat-list>
</div>
