#main-search, mat-input, #filter-fields {
  width: 100%;
}

#main-search  {
  display: flex;
  vertical-align: bottom;
  align-items: center;
}

#main-search mat-form-field {
  flex-grow: 100;
}

#filter-fields span {
  flex-grow: 75;
  text-align: left;
}

#filter-fields mat-form-field {
  padding: 10px;
  flex: 25 1;
  min-width: 0;
}

#filter-fields {
  display: flex;
  vertical-align: bottom;
  align-items: center;
}

#options {
  display: flex;
  vertical-align: bottom;
  align-items: center;
}

#options span {
  flex-grow: 100;
  text-align: left;
}

:host {
  display: block;
  width: 100%;
}
