<div class="park-page">
  <h1>{{park.fullName}}</h1>
  <mat-tab-group>
    <mat-tab label="General Info">
      <app-title-list-card [list]="alerts">
        Park Alerts
        <!-- use mat-icon so that the warn color is applied -->
        <app-nps-symbol class="mat-icon mat-warn"
          symbolName="safety-caution-alerts">
        </app-nps-symbol>
      </app-title-list-card>
      <app-title-list-card [list]="articles">
        Articles
        <!-- TODO: Find another icon/symbol -->
        <app-nps-symbol symbolName="newspaper"></app-nps-symbol>
      </app-title-list-card>
      <app-title-list-card [list]="events">
        Events
        <app-nps-symbol symbolName="event-facility"></app-nps-symbol>
      </app-title-list-card>
      <app-title-list-card [list]="newsReleases">
        News Releases
        <app-nps-symbol symbolName="newspaper"></app-nps-symbol>
      </app-title-list-card>
    </mat-tab>
    <mat-tab label="Educational Resources">
      <app-title-list-card [list]="lessonPlans">
        Lesson Plans
      </app-title-list-card>
      <app-title-list-card [list]="people">
        People
      </app-title-list-card>
      <app-title-list-card [list]="places">
        Related Places
      </app-title-list-card>
    </mat-tab>
  </mat-tab-group>
</div>
