<div class="park-page">
  <h1>{{park.fullName}}</h1>
  <mat-tab-group>
    <mat-tab label="General Info">
      <app-title-list-card [list]="alerts">
        Park Alerts <mat-icon class="mat-warn">warning</mat-icon>
      </app-title-list-card>
      <app-title-list-card [list]="articles">
        Articles
      </app-title-list-card>
      <app-title-list-card [list]="events">
        Events
      </app-title-list-card>
      <app-title-list-card [list]="newsReleases">
        News Releases
      </app-title-list-card>
    </mat-tab>
    <mat-tab label="Educational Resources">
      <app-title-list-card [list]="lessonPlans">
        Lesson Plans
      </app-title-list-card>
      <app-title-list-card [list]="people">
        People
      </app-title-list-card>
      <app-title-list-card [list]="places">
        Related Places
      </app-title-list-card>
    </mat-tab>
  </mat-tab-group>
</div>
