mat-card, app-title-list-card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

:host {
  width: 100%;
  margin: auto;
  display: block;
}

mat-icon, app-nps-symbol {
  line-height: 20px;
  vertical-align: middle;
}
